
@{
    ViewBag.Title = "Congratulations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h2>Congratulations</h2>
    <img src="~/img/congrat.jpg" alt="Congratulations" title="you won this round" />
</div>

