.main-congratulations {
    width: device-width;
    margin: auto;
    background:black;
}
    .main-congratulations h2 {
        text-align: center;
        color: red;
        font-size: 55px;
    }
    .main-congratulations img{
        width:100%;
        height:auto;
    }
    .barley {
        float: left;
        background: #758dff;
        width: 100px;
        height: 100px;
    }
    .barley > input {
        font-size: 55px;
        background: #49dd87;
        width: 98%;
        height: 98%;
    }

        .barley > input:hover {
            background: #aabd7d;
        }
    #space{
        background:#aabd7d;
    }